.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.974000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.909000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.010254;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.010254;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.010254;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-1.011350px;}
._4{width:3.227233px;}
._2{width:5.255784px;}
._0{width:6.427029px;}
._1{width:10.157154px;}
._5{width:296.910782px;}
._6{width:642.296457px;}
.fc1{color:rgb(255,254,245);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:32.262250px;}
.fs4{font-size:40.304152px;}
.fs2{font-size:40.310329px;}
.fs6{font-size:40.333735px;}
.fs7{font-size:40.334118px;}
.fs3{font-size:56.457778px;}
.fs0{font-size:64.516609px;}
.fs1{font-size:145.152160px;}
.y0{bottom:0.000000px;}
.y27{bottom:0.500000px;}
.y28{bottom:0.707014px;}
.y1{bottom:0.707027px;}
.y4d{bottom:0.707144px;}
.y26{bottom:37.172041px;}
.y25{bottom:56.649884px;}
.y24{bottom:76.127727px;}
.y4c{bottom:82.668497px;}
.y23{bottom:95.605570px;}
.y4b{bottom:102.146340px;}
.y22{bottom:115.083412px;}
.y4a{bottom:121.624183px;}
.y21{bottom:132.489041px;}
.y49{bottom:141.102026px;}
.y20{bottom:151.966884px;}
.y48{bottom:166.561727px;}
.y1f{bottom:171.444727px;}
.y1e{bottom:190.922570px;}
.y47{bottom:208.809726px;}
.y1d{bottom:210.400412px;}
.y1c{bottom:227.803140px;}
.y46{bottom:234.269527px;}
.y1b{bottom:245.205842px;}
.y1a{bottom:264.683684px;}
.y45{bottom:276.808940px;}
.y19{bottom:284.161527px;}
.y44{bottom:296.286783px;}
.y18{bottom:303.639370px;}
.y43{bottom:315.764626px;}
.y17{bottom:323.117213px;}
.y42{bottom:332.192224px;}
.y16{bottom:342.595056px;}
.y41{bottom:347.277429px;}
.y15{bottom:362.072898px;}
.y40{bottom:376.873455px;}
.y14{bottom:381.550741px;}
.y5b{bottom:394.954987px;}
.y3f{bottom:396.351297px;}
.y13{bottom:401.028584px;}
.y5a{bottom:414.662687px;}
.y3e{bottom:415.829140px;}
.y12{bottom:420.506427px;}
.y3d{bottom:435.306983px;}
.y11{bottom:439.984270px;}
.y3c{bottom:454.784826px;}
.y10{bottom:459.462112px;}
.y3b{bottom:472.190297px;}
.yf{bottom:475.889710px;}
.ye{bottom:490.974916px;}
.y3a{bottom:491.668140px;}
.y56{bottom:494.023695px;}
.y39{bottom:511.145983px;}
.y55{bottom:519.483497px;}
.yd{bottom:522.181314px;}
.y38{bottom:530.623826px;}
.y37{bottom:548.029355px;}
.y54{bottom:560.982010px;}
.yc{bottom:564.429184px;}
.y36{bottom:567.507197px;}
.y53{bottom:580.459853px;}
.yb{bottom:583.907027px;}
.y35{bottom:586.985040px;}
.y52{bottom:599.937695px;}
.ya{bottom:603.384870px;}
.y34{bottom:606.462883px;}
.y9{bottom:622.862712px;}
.y51{bottom:625.397497px;}
.y33{bottom:625.940726px;}
.y32{bottom:643.343554px;}
.y8{bottom:648.322414px;}
.y31{bottom:660.746169px;}
.y59{bottom:666.896295px;}
.y30{bottom:680.224012px;}
.y58{bottom:686.549095px;}
.y2f{bottom:699.701855px;}
.y6{bottom:705.836716px;}
.y57{bottom:712.008997px;}
.y2e{bottom:719.179697px;}
.y5{bottom:725.875116px;}
.y7{bottom:727.404116px;}
.y2d{bottom:738.657540px;}
.y4{bottom:747.847716px;}
.y50{bottom:753.731252px;}
.y2c{bottom:758.135383px;}
.y2{bottom:773.027465px;}
.y4f{bottom:773.209095px;}
.y2b{bottom:777.613226px;}
.y2a{bottom:794.040924px;}
.y4e{bottom:798.668897px;}
.y3{bottom:799.324355px;}
.y29{bottom:809.126029px;}
.h8{height:24.842562px;}
.h7{height:30.626402px;}
.he{height:30.644476px;}
.h6{height:31.034984px;}
.h4{height:31.039740px;}
.h9{height:31.057764px;}
.hd{height:31.058058px;}
.h5{height:42.794996px;}
.h2{height:50.000372px;}
.h3{height:110.025337px;}
.hc{height:841.292856px;}
.h1{height:841.292973px;}
.hb{height:841.292986px;}
.ha{height:841.500000px;}
.h0{height:842.000000px;}
.w1{width:594.783400px;}
.w0{width:595.000000px;}
.x0{left:0.000000px;}
.x1{left:19.906001px;}
.x2{left:36.103021px;}
.x7{left:43.601511px;}
.x4{left:51.854971px;}
.x8{left:56.699896px;}
.x5{left:60.738267px;}
.x9{left:77.627273px;}
.xa{left:329.864919px;}
.x6{left:337.969247px;}
.x3{left:349.039591px;}
.xb{left:471.489002px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-1.348466pt;}
._4{width:4.302978pt;}
._2{width:7.007712pt;}
._0{width:8.569372pt;}
._1{width:13.542871pt;}
._5{width:395.881042pt;}
._6{width:856.395276pt;}
.fs5{font-size:43.016333pt;}
.fs4{font-size:53.738869pt;}
.fs2{font-size:53.747105pt;}
.fs6{font-size:53.778314pt;}
.fs7{font-size:53.778823pt;}
.fs3{font-size:75.277037pt;}
.fs0{font-size:86.022145pt;}
.fs1{font-size:193.536213pt;}
.y0{bottom:0.000000pt;}
.y27{bottom:0.666667pt;}
.y28{bottom:0.942685pt;}
.y1{bottom:0.942703pt;}
.y4d{bottom:0.942859pt;}
.y26{bottom:49.562722pt;}
.y25{bottom:75.533179pt;}
.y24{bottom:101.503636pt;}
.y4c{bottom:110.224663pt;}
.y23{bottom:127.474093pt;}
.y4b{bottom:136.195120pt;}
.y22{bottom:153.444550pt;}
.y4a{bottom:162.165577pt;}
.y21{bottom:176.652055pt;}
.y49{bottom:188.136034pt;}
.y20{bottom:202.622512pt;}
.y48{bottom:222.082303pt;}
.y1f{bottom:228.592969pt;}
.y1e{bottom:254.563426pt;}
.y47{bottom:278.412968pt;}
.y1d{bottom:280.533883pt;}
.y1c{bottom:303.737520pt;}
.y46{bottom:312.359370pt;}
.y1b{bottom:326.941122pt;}
.y1a{bottom:352.911579pt;}
.y45{bottom:369.078587pt;}
.y19{bottom:378.882036pt;}
.y44{bottom:395.049044pt;}
.y18{bottom:404.852493pt;}
.y43{bottom:421.019501pt;}
.y17{bottom:430.822950pt;}
.y42{bottom:442.922965pt;}
.y16{bottom:456.793407pt;}
.y41{bottom:463.036572pt;}
.y15{bottom:482.763865pt;}
.y40{bottom:502.497939pt;}
.y14{bottom:508.734322pt;}
.y5b{bottom:526.606649pt;}
.y3f{bottom:528.468397pt;}
.y13{bottom:534.704779pt;}
.y5a{bottom:552.883582pt;}
.y3e{bottom:554.438854pt;}
.y12{bottom:560.675236pt;}
.y3d{bottom:580.409311pt;}
.y11{bottom:586.645693pt;}
.y3c{bottom:606.379768pt;}
.y10{bottom:612.616150pt;}
.y3b{bottom:629.587063pt;}
.yf{bottom:634.519614pt;}
.ye{bottom:654.633221pt;}
.y3a{bottom:655.557520pt;}
.y56{bottom:658.698260pt;}
.y39{bottom:681.527977pt;}
.y55{bottom:692.644662pt;}
.yd{bottom:696.241752pt;}
.y38{bottom:707.498434pt;}
.y37{bottom:730.705806pt;}
.y54{bottom:747.976013pt;}
.yc{bottom:752.572245pt;}
.y36{bottom:756.676263pt;}
.y53{bottom:773.946470pt;}
.yb{bottom:778.542702pt;}
.y35{bottom:782.646720pt;}
.y52{bottom:799.916927pt;}
.ya{bottom:804.513159pt;}
.y34{bottom:808.617177pt;}
.y9{bottom:830.483617pt;}
.y51{bottom:833.863329pt;}
.y33{bottom:834.587634pt;}
.y32{bottom:857.791405pt;}
.y8{bottom:864.429885pt;}
.y31{bottom:880.994892pt;}
.y59{bottom:889.195060pt;}
.y30{bottom:906.965349pt;}
.y58{bottom:915.398794pt;}
.y2f{bottom:932.935806pt;}
.y6{bottom:941.115621pt;}
.y57{bottom:949.345329pt;}
.y2e{bottom:958.906263pt;}
.y5{bottom:967.833488pt;}
.y7{bottom:969.872154pt;}
.y2d{bottom:984.876720pt;}
.y4{bottom:997.130288pt;}
.y50{bottom:1004.975003pt;}
.y2c{bottom:1010.847177pt;}
.y2{bottom:1030.703286pt;}
.y4f{bottom:1030.945460pt;}
.y2b{bottom:1036.817634pt;}
.y2a{bottom:1058.721232pt;}
.y4e{bottom:1064.891862pt;}
.y3{bottom:1065.765806pt;}
.y29{bottom:1078.834706pt;}
.h8{height:33.123416pt;}
.h7{height:40.835203pt;}
.he{height:40.859301pt;}
.h6{height:41.379979pt;}
.h4{height:41.386321pt;}
.h9{height:41.410352pt;}
.hd{height:41.410744pt;}
.h5{height:57.059994pt;}
.h2{height:66.667162pt;}
.h3{height:146.700449pt;}
.hc{height:1121.723808pt;}
.h1{height:1121.723964pt;}
.hb{height:1121.723982pt;}
.ha{height:1122.000000pt;}
.h0{height:1122.666667pt;}
.w1{width:793.044533pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x1{left:26.541335pt;}
.x2{left:48.137362pt;}
.x7{left:58.135349pt;}
.x4{left:69.139962pt;}
.x8{left:75.599862pt;}
.x5{left:80.984356pt;}
.x9{left:103.503031pt;}
.xa{left:439.819891pt;}
.x6{left:450.625663pt;}
.x3{left:465.386122pt;}
.xb{left:628.652003pt;}
}
